
body::before{
    content: "";
    filter: blur(50px) opacity(0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    height: calc(489px * var(--zoom));
    width: calc(572px * var(--zoom));
    background: url(./background_pic.png) no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
    -webkit-user-drag: none;
    z-index: -1;
}
.content{
    margin: 4.5rem 0;
    text-align: center;
    width: 100%;
    font-family: "Inter", sans-serif;
}
.content_icon{
    font-size: 12rem;
    padding: 0 0 30px;
}
.content > p{
    font-weight: 100;
    font-size: 5rem;
    font-style: italic;
    font-weight: 300;
}
.content span{
    font-weight: bold;
}